:root {
  --white: #ffffff;
  --blue: #2196f3;
  --grey: #757575;
  --dark-grey: #2f303a;
  --Color-btn: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

li {
  list-style-type: none;
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

a.logo-footer {
  color: var(--white);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--blue);
}

/* Блог "Верхняя линия" */
.header {
  background-color: var(--white);
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-item:hover {
  color: var(--blue);
}

.contacts a {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contacts a:hover {
  color: var(--blue);
}

/* Блок "Шапка" */
.section-hero {
  background-color: var(--dark-grey);
}

.hero-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background: var(--blue);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Блок "Особенности" */
.section-features {
  background-color: var(--white);
}

.section-features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-features p {
  color: var(--grey);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Блок "Чем мы занимаемся" */
.section-what-are-we-doing {
  background-color: var(--white);
}

.section-what-are-we-doing h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Блок "Наша команда" */
.section-our-team {
  background-color: rgba(245, 244, 250, 1);
}

.title-section-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-our-team p {
  color: var(--grey);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Блок "Подвал" */
.footer {
  background-color: var(--dark-grey);
}
.contacts-footer a {
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
a.mail-footer,
a.phone-footer {
  color: rgba(255, 255, 255, 0.6);
}

/* Блок "Портфолио" */
/* под-Блок "filters"*/
.filter-btn {
  background: var(--Color-btn);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-btn:hover {
  background: var(--blue);
  color: var(--white);
}

/* под-Блок "Projects"*/
.projects h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects p {
  color: var(--grey);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
